<!-- <p>home works! {{ name }}</p>

<div *ngFor="let item of arr">
  <label *ngIf="item.workname === 'ระบบท่อ'" class="ce">
    {{ item.workname }}
  </label>
  <label class="ck" *ngIf="item.workname !== 'ระบบท่อ'">
    {{ item.workname === "risk1" ? "test ระบบ" : item.workname }}
  </label>
</div>

<app-home2 [name]="name" (setName)="setName($event)" ></app-home2> -->

<!-- <h1>First Form</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <input type="text" name="username" ngModel required #username="ngModel" />
  <input type="password" name="password" ngModel required #password="ngModel" />
  <button type="submit">Submit</button>
</form>

<p>{{ f.value.username + " " + f.value.password }}</p>
<p>{{ f.value | json }}</p> -->

<form [formGroup]="userGroupForm" (ngSubmit)="onSubmit()">
  Firstname : <input type="text" formControlName="firstname" />
  Lastname : <input type="text" formControlName="lastname" />
  <label *ngIf="userGroupForm.invalid" ngClass="'ce'"> Error </label>
  <button type="submit">Submit</button>
</form>
