<h1>Assignment 1</h1>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
  Name: <input type="text" formControlName="name" >
  Lastname: <input type="text" formControlName="lastname" >
  Old: <input type="number" formControlName="old" >
  <button type="submit" > Submit </button>
</form>

<h1 *ngFor="let item of valuePush" > {{item.data | changename}} </h1>

